body{
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.cloud-top{
  position: absolute;
  right:400px;
  top:50px;
}

.cloud-bottom{
  position: absolute;
  left:400px;
  bottom:300px;
}

.dev{
  text-decoration: underline;
}

h2{
  color: #66BFBF;
  margin: 20px auto 0 auto;
  font-size: 45px;
  font-family: 'Sacramento', cursive;
}
h3{
  color: #66BFBF;
}

.top {
  background-color: #f4eeff;
  padding-top: 100px;
  position: relative;
  margin-bottom: 0;
}
.profile{
  margin-top: 0;
}

.profile-img{
  height: 15%;
  width: 15%;
}
p{
  margin-top: 0;
}

.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.comp-img{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code-img{
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.middle-container{
  margin: 100px 0 100px 0;
}
